body {
	background-color: rgba(255, 255, 194, 0.7);
}

h1,
h2 {
	font-family: 'Arvo';
}

p,
input,
button {
	font-family: 'Abril Fatface';
}

.main-head {
	text-align: center;
	margin-top: 15%;
}

#search-field {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2%;
}

#query {
	width: 50%;
	height: 50px;
	text-align: center;
	border-radius: 8px;
	border: 2px solid lightgray;
	font-size: 1.2em;
}

#search-field button {
	width: 15%;
	padding: 15px;
	margin-top: 2%;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 1.2em;
	cursor: pointer;
}

.notify {
	position: fixed;
	top: 50%;
	left: 35%;
	z-index: 3;
	background-color: aliceblue;
	padding: 20px;
	border-radius: 8px;
	border: 2px solid black;
}

.okay {
	background-color: rgba(255, 112, 112, 0.7);
	width: 20%;
	text-align: center;
	padding: 10px;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
}

.notify h3 {
	text-align: center;
}

.suggest {
	left: 40%;
}

.okay:hover {
	background-color: rgba(249, 45, 45, 0.9);
	transition: 1s;
	cursor: pointer;
}

.results-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.results-container p {
	margin-bottom: 0;
	text-align: center;
}

.rec-item {
	z-index: 1
}

.rec-details {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.9);
	z-index: 2;
	overflow: scroll;
}

.close {
	color: white;
	position: absolute;
	top: 3%;
	right: 2%;
	font-size: 3em;
}

.close:hover {
	transform: rotate(360deg);
	transition: 1s;
	cursor: pointer;
}

.rec-head {
	color: white;
	text-align: center;
}

.rec-content {
	display: flex;
	justify-content: space-around;
}

.rating {
	color: white;
}

.overview {
	color: white;
	width: 50%;
}

.overview h2,
.rating {
	text-align: center;
}

.overview p {
	text-align: left;
	letter-spacing: 1px;
	font-size: 1.2em;
}

.preview {
	display: flex;
	margin-bottom: 20px;
}

.trailer,
.review {
	text-align: center;
}

.trailer img,
.review img {
	width: 100%;
}

.trailer {
	margin-right: 40px;
}

@media (max-width: 319px) {
	.main-head {
		margin-top: 63%;
	}

	#query {
		width: 75%;
	}

	#search-field button {
		width: 35%;
		margin-top: 20px;
	}

	.result-item,
	.rec-item {
		margin-left: auto;
		margin-right: auto;
	}

	.notify {
		left: 0%;
		text-align: center;
	}

	.okay {
		font-size: 1.5em;
	}

	.suggest {
		left: 0%;
	}

	.close {
		top: -2%;
	}

	.rec-content {
		flex-direction: column;
	}

	.rec-intro {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}

	.rating-num {
		font-size: 1.5em;
	}

	.overview {
		width: 100%;
	}

	.preview {
		flex-direction: column;
	}

	.trailer {
		margin-right: 0px;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.main-head {
		margin-top: 62%;
		font-size: 1.5em;
	}

	#query {
		width: 80%;
		height: 53px;
		text-align: center;
		font-size: 1.2em;
	}

	#search-field button {
		width: 30%;
		padding: 15px;
		font-size: 1.2em;
		margin-top: 20px;
	}

	.notify {
		left: 0%;
		padding: 10px;
		text-align: center;
	}

	.okay {
		width: 30%;
		padding: 15px;
		font-size: 1.5em;
	}

	.suggest {
		left: 6.5%;
	}

	.rec-item,
	.result-item {
		margin-left: auto;
		margin-right: auto;
	}

	.result-title {
		font-size: 1.2em;
	}

	.close {
		top: -2%;
	}

	.rec-details {
		height: 100vh;
		box-sizing: border-box;
		padding: 0px 10px;
		overflow: scroll;
	}

	.rec-content {
		flex-direction: column;
	}

	.rec-intro {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		align-items: center;
	}

	.rec-head {
		font-size: 2em;
		padding-top: 10px;
	}

	.overview h2,
	.rating {
		font-size: 1.5em;
	}

	.rating-num {
		font-size: 2em;
	}

	.rec-intro img {
		width: 90%;
	}

	.overview {
		width: 100%;
	}

	.overview p {
		font-size: 1em;
	}

	.preview {
		flex-direction: column;
	}

	.trailer {
		margin-right: 10px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.main-head {
		margin-top: 25%;
	}

	.notify {
		left: 25%;
	}

	.suggest {
		left: 31%;
	}

	.overview {
		width: 63%;
	}

	.overview p {
		font-size: 1em;
	}

}