/*.result-item {
	margin-right: 20px;
}*/

.container {
	z-index: 0;
}

.results-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.hideID {
	display: none;
}

.rec-item {
	z-index: 1
}

.rec-details {
	position: fixed;
	top: 0;
	left: 12%;
	width: 75%;
	height: 100%;
	background-color: rgba(0,0,0, 0.8);
	z-index: 2;
}

.close {
	color: white;
	position: absolute;
	top: 3%;
	right: 2%;
	font-size: 2em;
}

.rec-head {
	color: white;
	text-align: center;
}

.rec-content {
	display: flex;
	justify-content: space-around;
}

.rating {
	color: white;
}

.overview {
	color: white;
	width: 50%;
}